<div class="card-custom__row card-custom__row--center">
  <!--    Progress bar      -->
  <div class="progress-bar card-custom" *ngIf="percentPorgressbar && percentPorgressbar <= 100 && contractItems && contract">
    <span class="card-custom__data">PROGRESO A FECHA</span>
    <span class="progress-bar__percent">{{ percentPorgressbar }}%</span>
    <div class="w3-light-grey progress-bar__bar">
      <div class="w3-green" style="height:24px;width:{{ percentPorgressbar }}%"></div>
    </div>
  </div>
  <!--    Progress bar      -->
</div>

<div class="card-custom__row">
  <div class="table-responsive">
    <table class="table-custom1">
      <thead class="table-custom1__head">
      <tr>
        <th>Total contratado</th>
        <th>Estimado a la fecha</th>
        <th>Pendiente de estimar</th>
        <th>Anticipo por amortizar</th>
        <th>Fondo garantía retenido</th>
      </tr>
      </thead>
      <tbody class="table-custom1__body">
      <tr>
        <td>{{ contract.total_amount | currency }}</td>
        <td class="table-custom1__td--margin">{{ printTotalsTable('estimate') | currency }}</td>
        <td class="table-custom1__td--margin">{{ contract.total_amount - printTotalsTable('estimate') | currency }}</td>
        <td class="table-custom1__td--margin">{{ contract.down_payment * contract.total_amount - printTotalsTable('down_payment') | currency }}</td>
        <td>{{ printTotalsTable('guarantee_fund') | currency }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="card-custom__row">

  <div class="tables-title">
    Deducciones
  </div>
  <div class="clearfix"></div>
  <div class="tables-container" *ngIf="contractItems" id="tables-container">
    <!--    Tabla izquierda      -->
    <table class="table table-custom2 table-custom2-45 table-custom2--left" id="table-custom2-45">
      <thead class="table2__head">
      <tr>
        <th scope="col" class="table__number"><span>#</span></th>
        <th scope="col">Fecha aprobación</th>
        <th scope="col">Concepto</th>
        <th scope="col">Aprobado por</th>

      </tr>
      </thead>
      <tbody class="table-custom2__body">

      <tr *ngFor="let item of contractItems; let idx = index">
        <td class="table__number"><span>{{ idx + 1 }}</span></td>
        <td class="text-center"><span>{{ item.reviewDate | date:'dd/MM/yyyy' }}</span></td>
        <td><span>{{ item.name }}</span></td>
        <td><span>{{ item.reviewed_by }}</span></td>
      </tr>

      <div class="table2__space"></div>

      <tr class="table-custom2__total table-custom2__totals table-custom2__total--border">
        <td class="td-invisible"><div>----</div></td>
        <td class="td-invisible"><div>----</div></td>
        <td class="td-invisible"><div>----</div></td>
        <td class="bold-custom table-custom2__total-text">Total</td>
      </tr>

      </tbody>


    </table>
    <!--    Tabla izquierda      -->


    <!--    Tabla derecha      -->
    <div class="table-responsive-custom table-custom2-55" id="table-custom2-55">
      <table class="table table-custom2 table-custom2--right">
        <thead class="table2__head table2__head--border-left">

        <tr>
          <th scope="col">Estimación</th>
          <th scope="col">Anticipo</th>
          <th scope="col">Fondo garantía</th>
          <th scope="col">Subtotal</th>
          <th scope="col">IVA</th>
          <th scope="col">Total</th>
        </tr>

        </thead>
        <tbody class="table-custom2__body table-custom2__body-right">

        <tr *ngFor="let item of contractItems; let idx = index">
          <td><span>{{ item.estimate | currency }}</span></td>
          <td><span>{{ item.down_payment | currency }}</span></td>
          <td><span>{{ item.guarantee_fund | currency }}</span></td>
          <td><span>{{ subtotals[idx] | currency }}</span></td>
          <td><span>{{ subtotals[idx] * contract.vat | currency }}</span></td>
          <td><span>{{ subtotals[idx] + ((subtotals[idx]) * contract.vat) | currency }}</span></td>
        </tr>

        <div class="table2__space"></div>

        <tr class="table-custom2__total table-custom2__totals">
          <td>{{ printTotalsTable('estimate')| currency }}</td>
          <td>{{ printTotalsTable('down_payment') | currency }}</td>
          <td>{{ printTotalsTable('guarantee_fund') | currency }}</td>
          <td>{{ printTotalsTable('subtotal')| currency }}</td>
          <td>{{ printTotalsTable('iva') | currency }}</td>
          <td>{{ printTotalsTable('total') | currency }}</td>

        </tr>

        </tbody>


      </table>
    </div>
    <!--    Tabla derecha      -->
  </div>


</div>
