<div class="page">
  <section class="page__header">
    <a href="" class="page__header-link"><i class="fas fa-long-arrow-alt-left"></i> Contact detail</a>
    <h1 class="page__header-title">Contractual Control</h1>
  </section>

  <section class="page__content">


    <!-- Componente de cards -->
    <app-cards></app-cards>




    <div class="page__content-row">
      <div class="card-custom card-custom--not-padding card-custom--100 card-custom--column">

        <div class="card-custom__row card-custom__row--center">
          <!--    Progress bar      -->
            <div class="progress-bar card-custom">
              <span class="card-custom__data">PROGRESO A FECHA</span>
              <span class="progress-bar__percent">50%</span>
              <div class="w3-light-grey progress-bar__bar">
                <div class="w3-green" style="height:24px;width:50%"></div>
              </div>
            </div>
          <!--    Progress bar      -->
        </div>

        <div class="card-custom__row">
          <div class="table-responsive">
            <table class="table-custom1">
              <thead class="table-custom1__head">
              <tr>
                <th>Total contratado</th>
                <th>Estimado a la fecha</th>
                <th>Pendiente de estimar</th>
                <th>Anticipo por amortizar</th>
                <th>Fondo garantía retenido</th>
              </tr>
              </thead>
              <tbody class="table-custom1__body">
                <tr>
                  <td>{{ 100000000 | currency }}</td>
                  <td class="table-custom1__td--margin">{{ 100000000 | currency }}</td>
                  <td class="table-custom1__td--margin">{{ 100000000 | currency }}</td>
                  <td class="table-custom1__td--margin">{{ 100000000 | currency }}</td>
                  <td>{{ 100000000 | currency }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-custom__row">

          <div class="tables-title">
            Deducciones
          </div>
          <div class="clearfix"></div>
          <div class="tables-container">
          <!--    Tabla izquierda      -->
          <table class="table table-custom2 table-custom2-45 table-custom2--left">
              <thead class="table2__head">
                <tr>
                  <th scope="col" class="table__number"><span>#</span></th>
                  <th scope="col">Fecha aprobación</th>
                  <th scope="col">Concepto</th>
                  <th scope="col">Aprobado por</th>

                </tr>
              </thead>
              <tbody class="table-custom2__body">
                <tr>
                  <td class="table__number"><span>1</span></td>
                  <td class="text-center"><span>12/12/2020</span></td>
                  <td><span>Es-MA-323243</span></td>
                  <td><span>Carlos Mensfoza</span></td>
                </tr>
                <tr>
                  <td class="table__number"><span>1</span></td>
                  <td class="text-center"><span>12/12/2020</span></td>
                  <td><span>Es-MA-323243</span></td>
                  <td><span>Carlos Mensfoza</span></td>
                </tr>
                <tr>
                  <td class="table__number"><span>1</span></td>
                  <td class="text-center"><span>12/12/2020</span></td>
                  <td><span>Es-MA-323243</span></td>
                  <td><span>Carlos Mensfoza</span></td>
                </tr>

                <div class="table2__space"></div>

                <tr class="table-custom2__total table-custom2__total--border">
                  <td class="td-invisible"><span>----</span></td>
                  <td class="td-invisible"><span>----</span></td>
                  <td class="td-invisible"><span>----</span></td>
                  <td class="bold-custom table-custom2__total-text">Total</td>
                </tr>


              </tbody>


            </table>
          <!--    Tabla izquierda      -->


          <!--    Tabla derecha      -->
            <div class="table-responsive-custom table-custom2-55">
              <table class="table table-custom2 table-custom2--right">
                <thead class="table2__head table2__head--border-left">

                  <tr>
                    <th scope="col">Estimación</th>
                    <th scope="col">Anticipo</th>
                    <th scope="col">Fondo garantía</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">IVA</th>
                    <th scope="col">Total</th>
                  </tr>

                </thead>
                <tbody class="table-custom2__body table-custom2__body-right">

                <tr>
                  <td><span>{{ 100000000 | currency }}</span></td>
                  <td><span>{{ 100000000 | currency }}</span></td>
                  <td><span>{{ 100000000 | currency }}</span></td>
                  <td><span>{{ 100000000 | currency }}</span></td>
                  <td><span>{{ 100000000 | currency }}</span></td>
                  <td><span>{{ 100000000 | currency }}</span></td>

                </tr>

                <tr>
                  <td><span>{{ 100000000 | currency }}</span></td>
                  <td><span>{{ 100000000 | currency }}</span></td>
                  <td><span>{{ 100000000 | currency }}</span></td>
                  <td><span>{{ 100000000 | currency }}</span></td>
                  <td><span>{{ 100000000 | currency }}</span></td>
                  <td><span>{{ 100000000 | currency }}</span></td>

                </tr>

                <tr>
                  <td><span>{{ 100000000 | currency }}</span></td>
                  <td><span>{{ 100000000 | currency }}</span></td>
                  <td><span>{{ 100000000 | currency }}</span></td>
                  <td><span>{{ 100000000 | currency }}</span></td>
                  <td><span>{{ 100000000 | currency }}</span></td>
                  <td><span>{{ 100000000 | currency }}</span></td>

                </tr>

                <div class="table2__space"></div>

                <tr class="table-custom2__total table-custom2__totals">
                  <td>{{ 100000000 | currency }}</td>
                  <td>{{ 100000000 | currency }}</td>
                  <td>{{ 100000000 | currency }}</td>
                  <td>{{ 100000000 | currency }}</td>
                  <td>{{ 100000000 | currency }}</td>
                  <td>{{ 100000000 | currency }}</td>

                </tr>

                </tbody>


              </table>
            </div>
          <!--    Tabla derecha      -->
          </div>


        </div>


      </div>
    </div>



  </section>

</div>
