<div class="page">
  <section class="page__header">
    <a href="" class="page__header-link"><i class="fas fa-long-arrow-alt-left"></i> Contact detail</a>
    <h1 class="page__header-title">Contractual Control</h1>
  </section>

  <section class="page__content">

    <div class="page__content-row">

      <div class="card-custom">

        <div class="card-custom__col">
          <div class="card-custom__group">
            <span class="card-custom__subtitle muted">Código contrato</span>
            <span class="card-custom__data bold-custom">CO-CO001-20</span>
          </div>
          <div class="card-custom__group">
            <span class="card-custom__subtitle muted">Especialidad</span>
            <span class="card-custom__data">Concrete</span>
          </div>
          <div class="card-custom__group">
            <span class="card-custom__subtitle muted">Fecha de inicio</span>
            <span class="card-custom__data">13/12/2019</span>
          </div>
        </div>

        <div class="card-custom__col">
          <div class="card-custom__group">
            <span class="card-custom__subtitle muted">Nombre contrato</span>
            <span class="card-custom__data">Habitante OC/AL Maíz Mier</span>
          </div>
          <div class="card-custom__group">
            <span class="card-custom__subtitle muted">Contratista</span>
            <a href="#" class="card-custom__data card-custom__data--link">Constructora Maiz Mier S.A. de C.V.</a>
          </div>
          <div class="card-custom__group card-custom__group--row">
            <div class="data">
              <span class="card-custom__subtitle muted">Fecha de terminación</span>
              <span class="card-custom__data">20/12/2019</span>
            </div>

            <div class="data">
              <span class="card-custom__subtitle muted">Duración</span>
              <span class="card-custom__data">7 days</span>
            </div>

          </div>
        </div>

        <div class="card-custom__col">
          <div class="document">
            <span class="card-custom__subtitle muted">Evidencia</span>
            <a href="#" class="document__info">
              <i class="document__icon card-custom__data--link fas fa-file-pdf"></i>
              <span class="document__text card-custom__data--link">COCO001-20</span>
            </a>
          </div>
        </div>



      </div>

      <div class="card-custom">
        <div class="card-custom__col">
          <div class="card-custom__group card-custom__group--row">
            <span class="card-custom__subtitle bold-custom">Total(MXN)</span>
            <span class="card-custom__data bold-custom">{{ '200000000' | currency }}</span>
          </div>
          <div class="card-custom__group card-custom__group--row">
            <span class="card-custom__subtitle">IVA(16%)</span>
            <span class="card-custom__data">{{ '100000000' | currency }}</span>
          </div>
          <div class="card-custom__group card-custom__group--row">
            <span class="card-custom__subtitle">Contratado sin IVA</span>
            <span class="card-custom__data">{{ '100000000' | currency }}</span>
          </div>
          <div class="card-custom__group card-custom__group--row">
            <span class="card-custom__subtitle">Contratado con IVA</span>
            <span class="card-custom__data">{{ '100000000' | currency }}</span>
          </div>
          <div class="card-custom__group card-custom__group--row">
            <span class="card-custom__subtitle">Anticipo (30%)</span>
            <span class="card-custom__data">{{ '100000000' | currency }}</span>
          </div>
          <div class="card-custom__group card-custom__group--row">
            <span class="card-custom__subtitle">Fondo garantía (5%)</span>
            <span class="card-custom__data">{{ '100000000' | currency }}</span>
          </div>
        </div>
      </div>

    </div>

    <div class="page__content-row">
      <div class="card-custom card-custom--100 card-custom--column">
        <p>Hola mundo</p>
        <p>Hola mundo</p>
        <p>Hola mundo</p>
        <p>Hola mundo</p>
        <p>Hola mundo</p>
        <p>Hola mundo</p>
        <p>Hola mundo</p>
        <p>Hola mundo</p>
        <p>Hola mundo</p>
        <p>Hola mundo</p>
        <p>Hola mundo</p>
        <p>Hola mundo</p>
        <p>Hola mundo</p>
        <p>Hola mundo</p>
        <p>Hola mundo</p>
        <p>Hola mundo</p>
        <p>Hola mundo</p>
        <p>Hola mundo</p>
        <p>Hola mundo</p>

      </div>
    </div>

  </section>

</div>
