<div class="lateral-menu__extra-layer">


<section class="lateral-menu lateral-menu--fixed">
  <div class="menu-sidebar">

    <!--   Opciones parte superior   -->
    <div class="menu-sidebar__options">
      <a href="#" class="menu-siderbar__link menu-siderbar__link-logo">
        <img src="assets/img/logo.png" alt="">
      </a>
      <a href="#" class="menu-siderbar__link">
        <i class="fas fa-search"></i>
      </a>
      <a href="#" class="menu-siderbar__link">
        <i class="fas fa-star"></i>
      </a>
    </div>

    <!--  Opciones para inferior    -->
    <div class="menu-sidebar__options menu-sidebar__options--down">
      <a href="#" class="menu-siderbar__link">
        <i class="fas fa-sync"></i>
      </a>
      <a href="#" class="menu-siderbar__link">
        <i class="fas fa-question"></i>
      </a>
      <a href="#" class="menu-siderbar__link menu-siderbar__link--notification">
        <span class="notification">2</span>
        <i class="fas fa-bell"></i>
      </a>
      <a href="#" class="menu-siderbar__link circle-data">
        <span class="circle-data__text">CR</span>
      </a>
    </div>


  </div>
  <div class="menu-options">

    <div class="menu-options__header">
      <div class="item-link item-link__head">
        <i class="item-link__icon fas fa-building"></i>
        <div class="item-link__data">
          <h1 class="item-link__title">Torre Habitante</h1>
          <h3 class="item-link__subtitle">Management</h3>
        </div>

      </div>
    </div>

    <div class="menu-options__body">
      <a href="#" class="item-link">
        <i class="item-link__icon fas fa-chart-line"></i>
        <span class="item-link__text">Dashboard</span>
      </a>
      <a href="#" class="item-link ">
        <i class="item-link__icon fas fa-stream"></i>
        <span class="item-link__text">Building plan</span>
      </a>
      <a href="#" class="item-link item-link--active">
        <i class="item-link__icon fas fa-calendar"></i>
        <span class="item-link__text">Contracts and Contractors</span>
      </a>
      <a href="#" class="item-link">
        <i class="item-link__icon fas fa-file-alt "></i>
        <span class="item-link__text">Changes</span>
      </a>
      <a href="#" class="item-link">
        <i class="item-link__icon fas fa-users "></i>
        <span class="item-link__text">Users</span>
      </a>
      <a href="#" class="item-link">
        <i class="item-link__icon fas fa-folder-open "></i>
        <span class="item-link__text">Documents</span>
      </a>
    </div>

    <button class="btn-close-lateralmenu">
      <i class="fas fa-arrow-left"></i>
    </button>

  </div>


</section>


</div>
